{% extends "base.html" %}

{% block content %}

{% load static %}

<div class="text-center p-5">
    <h1>Welcome to world of Amerdale</h1>
    <hr>
</div>
<div class="d-flex justify-content-around">
    <div class="card-img-container">
        <img src="{% static 'images/walkintotheshadow.webp' %}" class="card-img-top" alt="Left Image"
            style="width: 300px; height: 450px;">
    </div>
    <div class="card-img-container">
        <img src="{% static 'images/alone.webp' %}" class="card-img-top" alt="Main Image"
            style="width: 300px; height: 450px;">
    </div>
    <div class="card-img-container">
        <img src="{% static 'images/soul.jpg' %}" class="card-img-top" alt="Right Image"
            style="width: 300px; height: 450px;">
    </div>
</div>

{% endblock content %}